<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>CertusBuild &copy; <%= new Date().getFullYear() %></p>
            </div>
            <div class="col-md-6 text-md-end">
                <p>Revolutionizing Construction Management with Intelligent Automation</p>
            </div>
        </div>
    </div>
</footer>