<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto text-center">
                <h1 class="mb-2"><%= title %></h1>
                <% if (typeof subtitle !== 'undefined') { %>
                    <p class="lead text-white-50"><%= subtitle %></p>
                <% } %>
            </div>
        </div>
    </div>
</section>